:root{
	--background-image-url-02: url("./images/01-zuitt_2.png");
	--background-image-url-04: url("./images/02-zuitt_4.png");
	--background-image-url-08: url("./images/03-zuitt_8.png");
	--background-image-url-16: url("./images/04-zuitt_16.png");
	--background-image-url-32: url("./images/05-zuitt_32.png");
	--background-image-url-64: url("./images/06-zuitt_64.png");
	--background-image-url-128: url("./images/07-zuitt_128.png");
	--background-image-url-256: url("./images/08-zuitt_256.png");
	--background-image-url-512: url("./images/09-zuitt_512.png");

	--background-image-url-1024: url("./images/10-zuitt_1024.png");
	--background-image-url-2048: url("./images/11-zuitt_2048.png");
	--background-image-url-4096: url("./images/12-zuitt_4096.png");
	--background-image-url-8192: url("./images/13-zuitt_8192.png");

}

/* tag selector */

body {
	/* change font, align text to center */
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	background-color: #fcf3ee;
}

hr {
	/* width of the dividing line */
	max-width: 480px;
}

#board {
	/* frame of the board */
	/*px - pixels, 
	colors - hexadecimal color code/html color code */
	width: 400px;
	height: 400px;
/*	background-color: #cdc1b5;*/
	background-color: #c2e2f8;
/*	border: 6px solid #bbada0;*/
	border: 6px solid #34495e;
	/* this assures that our component will be centered */
	margin: 0 auto;

	/* arranges the child elements in a row */
	display: flex;
	/* allows items to wrap onto multiple lines if 
	there is not enough space in the container */
	flex-wrap: wrap;
}

.tile {
	width: 90px;
	height: 90px;
/*	border: 5px solid #bbada0;*/
	border: 5px solid #34495e;
	font-size: 25px;
	font-weight: bold;

	/* display is a pre-requisite to call justify 
	and align content */
	display: flex;
	justify-content: center;
	align-items: center;
}

.x2 {
	/* color of the tile background */
	background-color: #eee4da;
	/* color of the text inside */
/*	color: #727371;*/
	color: rgba(0, 0, 0, 0);
	background-image: var(--background-image-url-02);
	background-size: 100% 100%;
}

.x4 {
	background-color: #ece0ca;
/*	color: #727371;*/
	color: rgba(0, 0, 0, 0);
	background-image: var(--background-image-url-04);
	background-size: 100% 100%;
}

.x8 {
	background-color: #f4b17a;
/*	color: #727371;*/
	color: rgba(0, 0, 0, 0);
	background-image: var(--background-image-url-08);
	background-size: 100% 100%;
}

.x16 {
	background-color: #f59575;
/*	color: #727371;*/
	color: rgba(0, 0, 0, 0);
	background-image: var(--background-image-url-16);
	background-size: 100% 100%;
}

.x32 {
    background-color: #f57c5f;
/*    color: white;*/
    color: rgba(0, 0, 0, 0);
	background-image: var(--background-image-url-32);
	background-size: 100% 100%;
}
                
.x64 {
    background-color: #f65d3b;
/*    color: white;*/
    color: rgba(0, 0, 0, 0);
	background-image: var(--background-image-url-64);
	background-size: 100% 100%;
}
                
.x128 {
    background-color: #edce71;
/*    color: white;*/
    color: rgba(0, 0, 0, 0);
	background-image: var(--background-image-url-128);
	background-size: 100% 100%;
}

.x256 {
    background-color: #edcc63;
/*    color: white;*/
    color: rgba(0, 0, 0, 0);
	background-image: var(--background-image-url-256);
	background-size: 100% 100%;
}
                
.x512 {
    background-color: #edc651;
/*    color: white;*/
    color: rgba(0, 0, 0, 0);
	background-image: var(--background-image-url-512);
	background-size: 100% 100%;
}

.x1024 {
    background-color: #eec744;
/*    color: white;*/
    color: rgba(0, 0, 0, 0);
	background-image: var(--background-image-url-1024);
	background-size: 100% 100%;
}
                
.x2048 {
    background-color: #eec230;
/*    color: white;*/
    color: rgba(0, 0, 0, 0);
	background-image: var(--background-image-url-2048);
	background-size: 100% 100%;
}
                
.x4096 {
    background-color: #fe3d3d;
/*    color: white;*/
    color: rgba(0, 0, 0, 0);
	background-image: var(--background-image-url-4096);
	background-size: 100% 100%;
}
                
.x8192 {
    background-color: #ff2020;
/*    color: white;*/
    color: rgba(0, 0, 0, 0);
	background-image: var(--background-image-url-8192);
	background-size: 100% 100%;
}






